private/compare-sections/
private/page-lists/top-pages/*/top-pages.*.json
test/diff/results/data_javascript_mobile-meta.wikimedia.org-pagelib.js
test/diff/results/page_definition-enwiktionary-*.json
test/diff/results/page_*MCS_Test_Frankenstein.json
tmp/
coverage/
pagelib/