/* mediawiki/extensions/timeline/resources/ext.timeline.styles/timeline.css@c3bc951 */

/* Timelines can be very long and huge, like tables, so they should be scrollable. */
.timeline-wrapper {
    max-width: 100%;
    overflow: auto;
}

/* Custom styling for error output to match the deprecated <tt> tag */
.timeline-error {
    font-family: monospace;
    font-size: 17px;
}
