/* Examples:
  - Barack Obama's collapsed infobox:

    <div class=pcs-collapse-table-container>
      <div class='pcs-collapse-table-collapsed-container pcs-collapse-table-expanded'
        style='display: block'>
        <strong>Quick facts</strong><span class=pcs-collapse-table-collapse-text>: 44th
          President of the United States, Vice President …</span>
      </div>
      <table class='infobox vcard'
        style='width: 22em; margin-top: 0px; margin-bottom: 0px; display: none'>
        <tbody>
          <tr>
            <th colspan=2
              style='text-align: center; font-size: 125%; font-weight: bold; font-size: 130%'>
              <span class=fn>Barack Obama</span>
            </th>
          </tr>
          ...
        </tbody>
      </table>
      <div class='pcs-collapse-table-collapsed-bottom pcs-collapse-table-icon'
        style='display: none'>
        Close
      </div>
    </div>

  - Frankenstein's monster's expanded infobox:

    <div class=pcs-collapse-table-container>
      <div class='pcs-collapse-table-collapsed-container pcs-collapse-table-collapsed pcs-collapse-table-icon'
        style='display: block'>
        <strong>Quick facts</strong><span class=pcs-collapse-table-collapse-text>: Created
          by, Information …</span>
      </div>
      <table class=infobox
        style='width: 22em; border-spacing: 2px 5px; margin-top: 0px; margin-bottom: 0px; display: block'>
        <tbody>
          <tr>
            <th colspan=2
              style='text-align: center; font-size: 125%; font-weight: bold; background: #dedee2;'>
              Frankenstein's monster
            </th>
          </tr>
          ...
        </tbody>
      </table>
      <div class='pcs-collapse-table-collapsed-bottom pcs-collapse-table-icon'
        style='display: block'>
        Close
      </div>
    </div>

  - Dracula's collapsed notes and references:

    <div class=pcs-collapse-table-container>
      <div class='pcs-collapse-table-collapsed-container pcs-collapse-table-expanded'
        style='display: block'>
        <strong class=app-table-collapsed-caption>Tap to expand</strong>
      </div>
      <div class='reflist references-column-width'
        style='column-width: 30em; list-style-type: decimal; padding: 4px; display: none'>
          ...
      </div>
      <div class='pcs-collapse-table-collapsed-bottom pcs-collapse-table-icon'
        style='display: none'>
        Close
      </div>
    </div>
*/

.content table.infobox {
  font-size: 100%;
  border-style: none !important;
}

table.infobox caption {
  text-align: center;
  font-weight: bold;
  padding: 10px 10px 0px 10px;
}

div.pcs-collapse-table-container {
  width: 100%;
  margin-top: 14px;
  margin-bottom: 14px;
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.18);
  clear: both;
}

.pcs-collapse-table {
  float: none !important;
  max-width: none !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.pcs-theme-dark div.pcs-collapse-table-container {
  box-shadow: none !important;
  background-color: #222 !important;
}

.pcs-theme-black div.pcs-collapse-table-container {
  box-shadow: none !important;
  background-color: #222 !important;
}

.pcs-theme-sepia div.pcs-collapse-table-container {
  box-shadow: none !important;
  background-color: #e1dad1 !important;
}

.pcs-collapse-table-collapsed-container {
  width: 100%;
  padding: 12px 48px 12px 12px;
  line-height: 120%;
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 16px 16px;
}

/* The outermost table container header's subcaption text. */
.pcs-collapse-table-collapse-text {
  color: #808080;
}

.pcs-theme-dark span.pcs-collapse-table-collapse-text,
.pcs-theme-black span.pcs-collapse-table-collapse-text {
  color: #c8ccd1 !important;
}

/* The outermost table container's footer. */
.pcs-collapse-table-collapsed-bottom {
  width: 100%;
  color: #808080;
  padding: 12px 48px 12px 12px;
  line-height: 120%;
  border-radius: 0 0 2px 2px;
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 16px 16px;
}

.pcs-theme-dark div.pcs-collapse-table-collapsed-container,
.pcs-theme-dark div.pcs-collapse-table-collapsed-bottom {
  background-color: #27292d !important;
}

.pcs-theme-sepia div.pcs-collapse-table-collapsed-container,
.pcs-theme-sepia div.pcs-collapse-table-collapsed-bottom {
  background-color: #f0e6d6 !important;
}

.pcs-theme-black div.pcs-collapse-table-collapsed-container,
.pcs-theme-black div.pcs-collapse-table-collapsed-bottom {
  background-color: #222 !important;
}

.pcs-collapse-table-icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwQAADsEBuJFr7QAAABh0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4zjOaXUAAAAoBJREFUaEPtmE1uE0EQhW3Mzyk4iiU4AFn6BJbtvbfeIIQEAUEUCEnE/58ImCQCIRCSxVk4AGyyYwN5L+qOxuXXM90zthCiS/ricXV11avunhkrrWzZsmXLlu2fttlstjJGo9GN4XB4VY0tC+lcBhC+Dv6QwWBwTcUsA+lsCgTf9uI92I3rKrYp0tkECL1jxXt4pNScJkhnXSByw4oWrKu5dZHOOuDYbAqxEh4xlaMO0pkKjsZ9JbQMHjWVKxXpTKANMQ+suAQ2RM4kpDOSNlZxW4hK5Z7IHY10RsCV3zVCaoN7Yos5TY0opLOCNgo+VEIEn8EX45NwN5nb1KpEOkN0u90zKPRYCRB8Go/HFwivzViIXdRJakI6FRSPlX8iiio+gPN+Lq/BRzdWCncXc6KbkE6LW/lnqqDgoNfrnbM56MPYoYmVcJdZ0+ZQSGcRJkLSF7ZIgOlkMjmr8hDXxL6ZE+JpTBPS6UGSDrb0lUkcYq9MvIcxiH1n5kpQ+3lVE9JJkKADXhcTlsC4jsqjcE3sFeYHwXF6ic9gbunkBHT/ppioBB6vaPEezgGNF2jBwdVB129NghBR5zQE5nfcCqvcc7gFXWhi7kvK+QSPmoj3MEfsE44La++z0wsn/r2dFCD5hVOGayL2BTn3pDv54x5vByZQgq2s/bulgpSfKPv+XZP0gkGBTVN02bCJHVVbcEjtvJGmZkCCxHdFwVXAJraUBsGUDayBXwXnAjift0ShlcLdVloKUPOaD76CL0eFQc9vjK3sfzpVoPZNajCayBE1M+Y0uN/vX3TP5O/gJ/iGoMt+/G8BTZeg5Sv4QW3USK1+PFu2bNmyZcuW7f+1VusYzYvU+uNoBCAAAAAASUVORK5CYII=);
}

/* The outermost table container's collapsed header. */
.pcs-collapse-table-expanded {
  border-radius: 2px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwQAADsEBuJFr7QAAABh0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4zjOaXUAAAAoZJREFUaEPtmE1uE0EQhceEn1NwFEtwALL0CSzbe2+9QQgJAoKI8BeF8I8ImCQCIRCSxVk4QNhkxwZ4z+qOespvPNMzYxCiS/ricVVX1evpnukkWbJkyZIlS5Ys2f9ss9lsTr/fPz8ajV4Mh8Nv4Dv4OhgMLvr43wKaLkDLF3BEbdRIrT4+/wGhlxA8Br8MPxG74gf/adD7OjUYTeSYmjkmw5d18CMILoBZ37DFVw0E3lFaAqh5nROYBs5CUPC2arQCOuh1T2kQTLNer3cGF4cmIOFdEQ3bhOIfqt6CQ2qfJ7pJHJgBEt4dNgqatgXF76iegn1qZt5JgclkchqBd2ZgEdts6HOb0u12T+E52xV9FFNq9bm5Qm4Sb01CEY/YOMyvgxP/VNRfAOPehOJJrhjhAA5UBQRPmkwC+WvoxbNH1c6B7fUan2u2Ru6LhwNdgixmeA4WCpfBHPDK1SiD42SPBYeHCS5RFbQUNlC4rboX5BfiVqiwtnR6mIiVeBkWXMKe3Z+KmOcMvZ+VbVHpDGEBFOM2kU0MuTeExb2u901OEZWeL+m0xLwpwIF/R4c48ZUOTPTarfpykE4FC2JJH6uGgvfgrM/lNfjgYktBjx3kVD5jpLMItxJVD5yP4/H4HOG1iRURfUBKZwkxR/4n8Nn4JLgxD1jb9CpFOivQQdNtK6IuuCG1f7+Szop0eNeUoEi2RO3KSGcEXIn7RlAMm6JmFNIZC1birhC3FOTcUrVikc46YB+X/Ql4AsbeVDXqIJ11gbhNK1awoXLrIp1N4NYQoucgdk3lNEE6m8ItIsRfVWObIp1tANEbXjwmtLL/LUlnW3DLYAKXVawtkiVLlixZsn/Ysuw35enU+iMlJaQAAAAASUVORK5CYII=);
}

/* The outermost table container's expanded header. */
.pcs-collapse-table-collapsed {
  border-radius: 2px 2px 0 0;
}

/* Temporary fix to prevent right side of collapsed tables from extending
   offscreen. todo: fix, add an example, or remove. */
.pcs-collapse-table-container, .pcs-collapse-table-collapsed-container, .pcs-collapse-table-collapsed,
.pcs-collapse-table-icon {
  box-sizing: border-box;
}

/* Avoid infobox too narrow issue, see https://phabricator.wikimedia.org/T201381,
   undoing some of https://gerrit.wikimedia.org/r/c/mediawiki/skins/MinervaNeue/+/428868
   but only for tables we collapse. */
.pcs-collapse-table-container table {
    display: block;
    width: 100% !important;
    height: initial !important;
}

/* Fix for upstream CSS landscape tablet layout interfering with collapsible table width. */
@media all and (min-width:720px) {
  table.infobox {
    margin: initial;
    max-width: initial;
    float: initial;
  }
}

.wikitable {
  border: none;
}