@import './Themes.less';
@import './Constants.less';

.pcs-footer-readmore-page {
  background-color: var(--paper-background);
  padding: 11px 0;
  display: block;
  min-height: 50px;
}

.pcs-footer-readmore-page-title {
  color: var(--primary-text-color);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 1.38em;
}

.pcs-footer-readmore-page-description {
  color: var(--footer-readmore-description-text-color);
  display: block;
  font-size: 0.875em; /*14px @16px*/
  line-height: 1.1428571429; /*16px @14px*/
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  .pcs-platform-android &{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
}

.pcs-footer-readmore-bookmark-filled {
  background-image: var(--bookmark-filled-icon);
}

.pcs-footer-readmore-bookmark-unfilled {
  background-image: var(--bookmark-unfilled-icon);
}

.pcs-footer-readmore-page-image {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
}

.pcs-footer-readmore-page-image {
  float: right;
  margin-left: 8px;
  margin-right: 0px;
}

html[dir='rtl'] .pcs-footer-readmore-page-image,
body[dir='rtl'] .pcs-footer-readmore-page-image,
.mw-content-rtl .pcs-footer-readmore-page-image {
  float: left;
  margin-right: 8px;
  margin-left: 0px;
}

#pcs-footer-container-readmore-pages {
  margin: 0 calc(50% - 50vw);
  padding: .5px calc(50vw - 50%);
}
