ol.mw-references {
    list-style-type: none !important;
    padding: 0em;
}

.pcs-reference {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 1.5em;
}

.pcs-reference-number {
    min-width: 6ex; /* bracket + 3 digits + bracket */
    flex-grow: 0;
}

.pcs-reference-body {
    margin-left: 0.5em;
    flex-grow: 1;
}

.pcs-reference-body-header {
    display: flex;
    justify-content: space-between;
}

.pcs-reference-body-content {
    margin-top: 0.5em;
}