body.content {
    width: initial;
    max-width: initial;
}

/* Hide Sections marked to be hidden*/
section.pcs-hide-section {
    display: none;
}

/* Hide page issues */
html:not(.pcs-v2) .ambox {
    display: none;
}

.pcs-section-hideable-header {
    cursor: pointer;
}

.pcs-section-control {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    min-width: 1em;
    min-height: 1em;
    background-repeat: no-repeat;
    background-size: 1em 1em;
    background-position: center;
    flex-basis: 1em;
    line-height: 1em;
    box-sizing: content-box !important;
    margin-left: .1em;
    margin-bottom: -.2em;
}

.pcs-section-control-show {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
}

.pcs-section-control-hide {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
}

.pcs-theme-black .pcs-section-control-show,
.pcs-theme-dark .pcs-section-control-show {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z" fill="%23fff"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
}

.pcs-theme-black .pcs-section-control-hide,
.pcs-theme-dark .pcs-section-control-hide  {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z" fill="%23fff"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
}

.pcs-section-hidden {
    display:none;
}

.pcs-fold-hr {
    margin: 2em 0 1em 0;
}

section {
    margin-bottom: 1em;
}