body.content {
    width: initial;
    max-width: initial;
}

/* Hide Sections marked to be hidden*/
section.pcs-hide-section {
    display: none;
}

/* Hide page issues */
html:not(.pcs-v2) .ambox {
    display: none;
}

.pcs-section-hideable-header {
    cursor: pointer;
}

.pcs-section-control {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    min-width: 1em;
    min-height: 1em;
    background-repeat: no-repeat;
    background-size: 0.6em 0.6em;
    background-position: center;
    flex-basis: 1em;
    line-height: 1em;
    box-sizing: content-box !important;
    margin-left: .1em;
    margin-bottom: -.25em;
}

.pcs-section-hidden {
    display: none;
}

.pcs-fold-hr {
    margin: 2em 0 1em 0;
}

section {
    margin-bottom: 1em;
}