.hidden {
    display: none;
}

body {
    background-color: #CCC;
}

table {
    width: 100%;
}

tr {
    background: #FFF
}

tr.same {
    background: #EEE
}

th {
    padding: 1rem;
}

th.titleColumn {
    width: 10%;
}

th.valueColumn {
    width: 45%;
}

td {
    padding: .5rem;
    vertical-align: baseline;
}

td.titleColumn {
    word-break: normal;
}

td.valueColumn {
    word-break: normal;
    /*word-break: break-all;*/
}

a[id][href]::before {
    content: "(";
}

a[id][href]::after {
    content: ")";
}

form {
    display: inline;
}

/*
figure, img, blockquote, dl, td table {
    display: none;
}
*/